
/************************************************************************************
	Worksheet
************************************************************************************/
.exWorksheet{
	width:100%;
	height:100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 3px solid #000;
	opacity: 0.9;
}

.exWorksheet .background{
	fill: #262626;
}

.exWorksheet.focus {
	border: 3px solid #00f;
	opacity: 1;
}


/************************************************************************************
	Grid
************************************************************************************/
.exWorksheet .medGrid{
stroke: #161616;
stroke-width: 1;
}

.exWorksheet .smallGrid{
stroke: #343434;
stroke-width: 1;
fill: #262626;
}





/************************************************************************************
	TitleBar
************************************************************************************/
.exTitlebar text {
	font-family: Helvetica, Arial, sans-serif;
	stroke: none;
	fill: #fff;
}

.exTitlebar > rect {
	opacity: 0.5;
}

/************************************************************************************
	Undo / Redo
************************************************************************************/
.exTitlebar .button.undoredo.enable{
	pointer-events: all;
	opacity: 0.6
}

.exTitlebar .button.undoredo{
	pointer-events: none;
	opacity: 0.2
}

.exTitlebar .button.undoredo.enable:hover {
	opacity: 1
}	
