body, html{
	margin:0;     /* This is used to reset any browser-default margins */
	padding: 0;
	height:100%; /* This is needed to overcome a Chrome bug. */
	width:100%;
	background-color: #222222;
	
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/*
#flexcanvas{
	width: 100%;
	height: 600px !important;
}
*/
.rowParent, .columnParent{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.columnParent{
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flexChild{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

#footer{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; height: 150px;
	padding-top: 27px;
}

#toolbar{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	height: 54px;
	margin-bottom: 5px;
	border-radius: 7px;
	background-color: #606060;
}

#bottomDivider{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	height: 5px;
}

#leftBottom{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	height: 70%;
	background-color: #606060;
} 

#leftHdivider{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 autod
	flex: 0 0 auto; 
	height: 5px;
}

#rightDivider{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	width: 5px;
}

#leftDivider{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	width: 5px;
}

#right{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	width: 180px;
	max-width: 300px;
	background-color: #606060;
	overflow: hidden;
}

#left{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	width: 250px;
	max-width: 300px;
	overflow: hidden;
}

#header{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	height: 24px;
}

#center{
	padding-top: 27px;
	height: 100%;
}



#app{
	height: 100%;
	width:100%;
}

#leftTop{

}

#leftTop,
#toolbar{
	border: 1px solid #606060;
}

#bottomDivider,
#leftHdivider{
	cursor: row-resize;

}

#leftDivider,
#rightDivider{
	cursor: col-resize;	
}

.uiPanel {
	height: 22px;
	padding-left: 5px;
	margin-right: -25px;
	width: 100%;
	color: #fff;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}


/********************************************************************************
	Tabs
********************************************************************************/

		




