body, html{
	
	color: var(--text-color);
	
	margin:0;
	padding: 0;
	height:100%;
	width:100%;
	background-color: var(--main-bg-color);
	
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#app{
	height: 100%;
	width:100%;
}




