body, html{
	margin:0;
	padding: 0;
	height:100%;
	width:100%;
	background-color: #222222;
	
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.rowParent, .columnParent{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.columnParent{
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flexChild{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}

.vDivider{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	width: 3px;
	cursor: col-resize;	
	margin: 1px;
}

.hDivider{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	height: 3px;
	cursor: row-resize;
	margin: 1px;
}

.hDivider.hover,
.hDivider:hover,
.vDivider.hover,
.vDivider:hover{
	background-color: #777;
}

#toolbar,
#footer,
#right,
#header,
#left,
#leftBottom
#center {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 	
}

#toolbar{
	height: 54px;
	margin-bottom: 5px;
	border-radius: 7px;
	background-color: #606060;
}

#footer{
	height: 150px;
	padding-top: 27px;
}

#right{
	width: 180px;
	max-width: 300px;
	background-color: #606060;
	overflow: hidden;
}

#header{

	height: 24px;
}

#left{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	width: 250px;
	max-width: 300px;
	overflow: hidden;
}

#leftBottom{
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; 
	height: 70%;
	background-color: #606060;
} 

#center{
	padding-top: 27px;
	height: 100%;
}

#app{
	height: 100%;
	width:100%;
}

#leftTop,
#toolbar{
	border: 1px solid #606060;
}


.uiPaneltitle {
	height: 22px;
	padding-left: 5px;
	margin-right: -25px;
	width: 100%;
	color: #fff;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

.uiModalBg {
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.5;
	width:100%;
	height:100%;
}

