<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" type="text/css" href="css/ui.css" media="all">
		
		<title>eXen</title>
		<script src="defs.js"></script>
		<script src="stylebug.js"></script>
		<script src="elibs/vue.js"></script>
		<script src="elibs/vuex.js"></script>
		<script src="elibs/browser-vue-loader.js"></script>
		<script src="elibs/svg-pan-zoom.js"></script>
		<script src="utils/directives.js"></script>
		
		<style>

		</style>	
	</head>
	<body>
		<div id="app" class="flexChild columnParent">
			<uicontextmenu ref="contextmenu"></uicontextmenu>
			<div id="header" class="flexChild"></div>
			<div class="flexChild rowParent">
				<div id="left" class="flexChild columnParent" v-panel.left>
					<div id="leftTop" class="flexChild">
						<div class="uiPaneltitle">&nbsp;&nbsp;Project</div>
						<div style="padding:3px;">

						</div>
					</div>
					<div id="leftBottom" class="flexChild" v-panel.bottom>
						<div class="uiPaneltitle">&nbsp;&nbsp;BluePrint</div>
						<div style="padding:3px;">
							<uitree v-if="hasGraph('graphs')" :draggable="false" label="Graphs" type="graph" :items="graphs" :button="{text: 'Add Graph', action:'addGraph'}" ref="graphsTree"></uitree>
							<uitree v-if="hasGraph('functions')" label="Functions" type="function" :items="functions" :button="{text: 'Function', action:'addFunction'}" ref="functionsTree"></uitree>
							<uitree v-if="hasGraph('macros')" label="Macros" type="macro" :items="macros" :button="{text: 'Macro', action:'addMacro'}" ref="macrosTree"></uitree>
							<uitree v-if="hasGraph('variables')" label="Variables" type="variable" :items="variables" :button="{text: 'Variable', action:'addVariable'}" ref="variablesTree"></uitree>					
						</div>
					</div>
				</div>
				<div class="flexChild columnParent">
					<div id="toolbar" class="flexChild">
						<uitbbutton label="Check" img="ui-img/check.png" action="check" title="Check current Project" ></uitbbutton>
						<uitbbutton label="Save" img="ui-img/save.png" :disabled="true" action="save" title="Save current Project" ></uitbbutton>
						<uitbbutton label="F.screen" img="ui-img/fullscreen.png" action="switchFullscreen" :toggle="1" title="Toggle fullscreen" ></uitbbutton>
					</div>
					<div id="center" class="flexChild">		
						<uigraphtabs ref="tabsContainer" :closable="true"></uigraphtabs>
					</div>
					<div id="footer" class="flexChild selected" v-panel.bottom="-30">
						<infotabs ref="infoTabs"><infotabs>
					</div>
				</div>
				<div id="right" class="flexChild" v-panel.right>
					<div class="uiPaneltitle">&nbsp;&nbsp;Properties</div>
					<div style="padding:3px;">
						<uiproperties ref="properties"></uiproperties>
					</div>
				</div>
			</div>
		</div>
		<div class="uiModalBg"></div>
		
		<script type="boom!">
		
			import './ui-vues/tree.vue';
			
			import './ui-vues/app.graphs.vue';
			import './ui-vues/app.variables.vue';
			import './ui-vues/app.functions.vue';
			
			import App from './ui-vues/app.vue';
			var test = new Vue(App);
			console.log(Vue);
			test.addFunction({name: 'setup', flags: F_READ_ONLY|F_LOCK_IO}, false);
			test.addFunction({name: 'loop'}, false);
			
		</script>
	</body>
</html>
